@import "../variables.scss";

.footer {
	background-color: $dark;
	display: flex;
	flex-wrap: wrap;
	padding: 32px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	gap: $gutter;
	color: $light;

	p {
		margin: 0;
		a {
			color: $light;
		}
	}
}
